
#formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 30px;
    border: 1px solid rgb(74, 45, 179);
    background-color: rgba(230, 201, 163, 0.185);
  }

.input-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
  }

#formulario h2{
    text-align: center;
    color: rgb(74, 45, 179);
}

button{
   color: rgb(74, 45, 179);
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(74, 45, 179);
   border-radius: 8%;
   font-size: 100%;
   margin-left: 40%;
   
}


input{
   margin-bottom: 10px;
   margin-left: 20px;
   
   
}

select{
    margin-bottom: 10px;
}

button:hover{
    color: rgb(126, 187, 131);
}